<h1>Bienvenu</h1>
<p>Créer une app angular</p>

<p>sur la page principale:</p>
    <ul>
        <li>une nav bar permettant de se rendre sur la page d'accueil, de connexion et d'inscription</li>
        <li>un paragraphe de type lorem ipsum</li>
        <li>un footer avec votre nom et prénom en bas de page centré</li>
    </ul>

<p>sur la page de connexion:</p>
- une nav bar permettant de se rendre sur la page d'accueil, de connexion et d'inscription
- un titre "Membre du site"
- un formulaire demandant login et mot de passe
- un footer avec votre nom et prénom en bas de page centré

<p>sur la page inscription:</p>
- une nav bar permettant de se rendre sur la page d'accueil, de connexion et d'inscription
- un titre "Membre du site"
- un paragraphe explicatif (lorem)
- un formulaire avec nom, prenom, date de naissance, email, mot de passe et confirmation du mot de passe
- un footer avec votre nom et prénom en bas de page centré

